
body{
    background-color: rgb(247, 0, 255);
}
h1
{
    color: blue;
    text-align: center;
}
header {
    width: 100%;
    background-color: brown;
}

.banner {
    width: 100%;


